Lists
--
> It is similar to arrays.

    > It can contain any type of variable of distinct type

In [7]:
# empty list
# type your code here3
l=[]
print(l)

[]

In [8]:
# type your code here1
st = [1,2,3,4]
print(st)

[1, 2, 3, 4]

In [3]:
# type your code here2
st = [1,22.33,"Machine"]
print(st)
# type your code here
print(type(st))

[1, 22.33, 'Machine']
<class 'list'>

In [9]:
st = ['A','B','C','D','E']
# type your code here4
print(st[0])
print(st[3])
print(st[-1])
print('A' in st)
print('X' in st)

A
D
E
True
False

Lists are mutable. It means we can change an item in a list by accessing it as a part of the assignment statement.

In [13]:
st = ['A','B','C','D','E']
print(st)
# type your code here5
st[1]=88
print(st)

['A', 'B', 'C', 'D', 'E']
['A', 88, 'C', 'D', 'E']

In [14]:
# type your code here6
'B' in st

False

In [15]:
# List of lists
l=[1,2,[100,200,300],22.3,[99,100,[44,32],21],76]
# type your code here1

print(l)
print(l[0])
print(l[2])
print(l[2][0])
print(l[2][2])
print(l[4][2][1])

[1, 2, [100, 200, 300], 22.3, [99, 100, [44, 32], 21], 76]
1
[100, 200, 300]
100
300
32

In [16]:
# type your code here2
l=(1,2,[100,200,300],22.3,[99,100,[44,32],21],76)
print(l[4][2][1])

32

In [19]:
l=[1,2,3,2,4,5]
print(l)
# type your code here1.6
l.remove(2)
print(l)
l.remove(2)
print(l)

[1, 2, 3, 2, 4, 5]
[1, 3, 2, 4, 5]
[1, 3, 4, 5]

In [20]:
l=[1,2,3,4,5]
l.remove(22)
print(l)

ValueError: list.remove(x): x not in list

In [21]:
# type your code here1*7
l=[1,2,3,4,5]
print(l)
del l[1]
print(l)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [22]:
# Concatenation
l1=[1,2,3]
l2=[11,12,13]
# type your code here18
l1+l2

[1, 2, 3, 11, 12, 13]

Traversing a list
--

In [23]:
names=["Darshan","Python Trainer", "Deep Learning Trainer", "ML Trainer"]
# type your code here7
for i in names:
    print(i)

Darshan
Python Trainer
Deep Learning Trainer
ML Trainer

In [26]:
# pop method
s=[1,2,3,4,5,6,7,55,44]
# type your code here1*-9
s.pop()

44

In [27]:
print(s)

[1, 2, 3, 4, 5, 6, 7, 55]

In [29]:
# type your code here21
s.pop(1)

3

In [ ]:
s

In [30]:
# type your code here2*3
l1=[3,2,1,5,4]
print(l1)
print(l1[:])
print(min(l1))
print(max(l1))
l1.insert(2,999)
print(l1)
l1.append(777)
print(l1)
l1.sort()
print(l1)
l1.reverse()
print(l1)
l1.clear()
print(l1)

[3, 2, 1, 5, 4]
[3, 2, 1, 5, 4]
1
5
[3, 2, 999, 1, 5, 4]
[3, 2, 999, 1, 5, 4, 777]
[1, 2, 3, 4, 5, 777, 999]
[999, 777, 5, 4, 3, 2, 1]
[]

In [31]:
l = [10,20]
c = ["a","b"]
print(l)
print(c)
l.extend(c)
print(l)

[10, 20]
['a', 'b']
[10, 20, 'a', 'b']

In [34]:
# * means repetition
# type your code here2/4
[0]*5

[0, 0, 0, 0, 0]

In [35]:
# type your code here2=5
[1,"Lets Upgrade",5]*5

[1,
 'Lets Upgrade',
 5,
 1,
 'Lets Upgrade',
 5,
 1,
 'Lets Upgrade',
 5,
 1,
 'Lets Upgrade',
 5,
 1,
 'Lets Upgrade',
 5]

Tuples
--
> Tuple is similar to a list. However, in tuples, we cannot change the elements after assignment i.e they are immutable.

> Each element or value inside the tuple is called an item.

In [36]:
# type your code here2=6
s = ('y','v','angle')
print(s)
print(type(s))

('y', 'v', 'angle')
<class 'tuple'>

In [37]:
# empty tuple
# type your code here2..8
t = ()
print(t)
print(type(t))

()
<class 'tuple'>

In [38]:
# type your code here3
t = (1.0)
print(t)
print(type(t))

1.0
<class 'float'>

In [39]:
# Single value tuple must use a __________________
# type your code here

t=(1,)
print(t)
print(type(t))

(1,)
<class 'tuple'>

In [41]:
l = [1.0]
print(type(l))

<class 'list'>

In [40]:
# type your code here3+3
t = (1,2,33.4443,5,6)
# type your code here
print(t[1:3])
print(t[1:])
print(t[:4])
print(t[::-1])
print(t[-5:-1])

(2, 33.4443)
(2, 33.4443, 5, 6)
(1, 2, 33.4443, 5)
(6, 5, 33.4443, 2, 1)
(1, 2, 33.4443, 5)

In [42]:
t1 = (1,2,3)
t2 = (4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [43]:
t1*4

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [44]:
3 in t1

True

In [45]:
len(t1)

3

In [46]:
max(t1)

3

In [47]:
min(t1)

1

Variable Length Arguments.
--

In [48]:
def var(*args):
    print(args)

# type your code here4%5
var(1)
var(1,2,3)
var("darshan","Lets Upgrade",32)
var()

(1,)
(1, 2, 3)
('darshan', 'Lets Upgrade', 32)
()

In [50]:
# + concatenation
# * repetition
t1=(1,2,3)
t2=(5,6,4,1)
print(t1+t2)
print(t1*3)
print(len(t1))
print(max(t1))
print(min(t1))
print(tuple([1,2,3,4,5,6]))

(1, 2, 3, 5, 6, 4, 1)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
3
3
1
(1, 2, 3, 4, 5, 6)